
@import url(variables.css);

:root {
	font-family: var(--font-family-standard);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: var(--font-size);
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	color: #444;
}

#app {
	display: grid;
	grid-template-columns: auto;
  grid-template-rows: 70px auto 1fr;
	height: 100%;
  min-height: 100vh;
  text-align: center;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-size: 1.5em;

	background:	var(--background-color);
	background: linear-gradient(15deg, var(--black) 0%, var(--color-primary) 35%, var(--color-primary-light) 100%);
}

.link {
  color: var(--text-color);
}

a, button {
	border-radius: 0.5em;
	background: var(--button-color);
	color: var(--text-color);
	text-decoration: none;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	margin: 0 1em;
	min-width: 4em;
}

button {
	padding: var(--padding-std);
	border: none;
	font-size: var(--font-size);
}

a:hover,
button:hover,
a:focus,
button:focus {
	background: var(--button-hover-color);
}

/*
a:focus,
button:focus {
	border: 2px solid var(--text-color);
} */

section {
	background: var(--section-color);
	padding: var(--padding-std);
	margin: var(--margin-std) auto;
	max-width: 1024px;
	overflow:hidden;
	text-overflow: ellipsis;
}

section.action {
	margin: 1em auto;
	background: var(--lighten-color-mask);
	display: flex;
	flex-flow: column;
	max-width: 300px;
}

section.action > a {
	padding: 1em;
	margin: 1em;
}
