html, body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #673ab8;
  color: #fff;
  font-size: 1.5em;
}

.link {
  color: #fff;
}

a {
	color:#fdd;
	transition: 0.5 ease-in-out;
}

section {
	background: #fff2;
	padding: 1em;
	margin: 1em;
}

section.action {
	margin: 0 auto;
	background: #0002;
	display: flex;
	flex-flow: column;
	max-width: 300px;
}

section.action > a {
	padding: 1em;
	margin: 1em;
	text-decoration: none;
	background: #fff2;
}

section.action a:hover,
section.action a:focus {
	opacity: 1;
}